name: Build Timeline

permissions:
  contents: write

on:
  push:
    branches: [main]
    paths:
      - "events/**"
      - "scripts/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build timeline
        run: |
          python scripts/build_timeline.py

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add timeline.md
          git diff --cached --quiet || git commit -m "chore: auto update timeline"

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
